body{
  background-color: #f8f8f8;
}

.navbar{
  border-radius: 0;
}
input[type=submit]{
    background-color: #333333;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
}
